<container>

	<div class="row">
		<%= render "layouts/genre_bar", genres: @genres %>
		<div class="col-md-9" style="display:flex;">
			<h3><%= @genre.name %></h3><h4> (全<%= @products.count %>件) </h4>
		</div>
			<% @products.each do |products| %>
			<div class="col-xs-3 pull-left">
				<div>
					<%= link_to public_product_path(products.id) do %>
					<%= attachment_image_tag products, :image, size: "200x200" %>
					<% end %>
					<p><%= link_to products.name, public_product_path(products.id) %></p>
					<p>¥<%= products.non_taxed_price %></p>
				</div>
			</div>
			<% end %>
	</div>
</container>