<div class="cover">
<div class="container">
	<div class="row" style="padding:20px;">
		<section>
			<h2>ジャンル追加・一覧画面</h2>
		</section>
	</div>
	<div class="row" style="padding:10px 200px 10px;">
		<%= form_for @genre, url: admin_genres_path do |f|%>
				<%= f.label "ジャンル" %>
				<%= f.text_field :name %>
				<%= f.radio_button  :status,"1" %>
					<%= f.label :status_1, "有効" %>
				<%= f.radio_button :status,"0" %>
					<%= f.label :status_0,"無効" %>
				<%= f.submit "追加", class:"btn btn-primary btn-sm" %>
		<% end %>
	</div>
	<div class="row" style="padding:10px 200px 10px;">
		<table class="table" style="width:60%">
			<thead>
				<tr>
					<th>ジャンル</th>
					<th>状態</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<% @genres.each do |genres| %>
				<tr>
					<td><%= genres.name %></td>
					<td>
						<% if genres.status == true %>
						有効
						<% else %>
						無効
						<% end %>
					</td>
					<td align="center"><%= link_to "編集する", edit_admin_genre_path(genres.id), class:"btn btn-primary btn-sm" %> </td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
</div>
