<div class="cover">
	<div class="container">
		<div class="row">

			<div class="col-xs-9" >
				<h2 style="margin: 30px 0;">配送先編集</h2>
				<%= form_for [:public, @shipping_addresses] do |edit| %>
					<ul>
						<table>
							<tr>
								<th style="padding: 10px;">郵便番号</th>
								<td> <%= edit.text_field :postal_code %> </td>
							</tr>
							<tr>
								<th style="padding: 10px;">住所</th>
								<td> <%= edit.text_field :street_address %> </td>
							</tr>
							<tr>
								<th style="padding: 10px;">宛名</th>
								<td> <%= edit.text_field :name_address %> </td>
							</tr>
							<tr>
								<th style="padding: 10px;"></th>
								<td> <%= edit.submit "編集する", class: "btn btn-primary" %> </td>
							</tr>
						</table>
					</ul>
				<% end %>
			</div>

		</div>
	</div>
</div>