<container>
	<div class="row">
		<div class="col-md-6">
			<%= form_for [:public, @shipping_address] do |sh_address| %>

			<table class="list-group">
				<thead>
					<tr>
						<th class="list-group-item-info">郵便番号</th>
						<th class="list-group-item-info">住所</th>
						<th class="list-group-item-info">宛名</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= sh_address.text_field :postal_code %></td>
						<td><%= sh_address.text_field :street_address %></td>
						<td><%= sh_address.text_field :name_address %></td>
					</tr>
				</tbody>
			</table>
				<div>
				<%= sh_address.submit '登録', class: "btn btn-info" %>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<thead>
					<tr>
						<th class="active">郵便番号</th>
						<th class="active">住所</th>
						<th class="active">宛名</th>
						<th class="active"></th>
					</tr>
				</thead>
				<tbody>
					<% @shipping_addresses.each do |index| %>
					<tr>
						<td><%= index.postal_code %></td>
						<td><%= index.street_address %></td>
						<td><%= index.name_address %></td>
						<td><%= link_to "編集する", public_shipping_address_path(index.id),class: "btn btn-primary" %>
							<%= link_to "削除する", public_shipping_address_path(index.id), method: :delete, "data-confirm"=> "本当に削除しますか？", class: "btn btn-danger" %>
						</td>
					<% end %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</container>