
<div class="cover">
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-4" style="padding: 30px;">
				<%= form_for [:public, @shipping_address] do |sh_address| %>

				<table class="form-inline">
						<tr>
							<th class="list-group-item-info" style="width: 100px">郵便番号</th>
							<td><%= sh_address.text_field :postal_code %></td>
						</tr>
						<tr>
							<th class="list-group-item-info">住所</th>
							<td><%= sh_address.text_field :street_address %></td>
						</tr>
						<tr>
							<th class="list-group-item-info">宛名</th>
							<td><%= sh_address.text_field :name_address %></td>
						</tr>
				</table>
					<div>
					<%= sh_address.submit '登録', class: "btn btn-info" %>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-10 col-xs-offset-4" style="padding: 0 30px;">
				<table class="table-bordered sha-index">
					<thead>
						<tr>
							<th>   郵便番号   </th>
							<th>   住所   </th>
							<th>   宛名   </th>
							<th style="width: 300px; ">          </th>
						</tr>
					</thead>
					<tbody>
						<% @sh_addresses.each do |index| %>
						<tr>
							<td><%= index.postal_code %></td>
							<td><%= index.street_address %></td>
							<td><%= index.name_address %></td>
							<td style="text-align: center;"><%= link_to "編集する", edit_public_shipping_address_path(index.id),class: "btn btn-primary" %>
								<%= link_to "削除する", public_shipping_address_path(index.id), method: :delete, "data-confirm"=> "本当に削除しますか？", class: "btn btn-danger " %>
							</td>
						<% end %>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>