<div class="container">
	<div class=row>
		<section>
			<h2>商品 編集画面</h2>
		</section>
	</div>
	<%= form_for @product, url:admin_product_path do |f| %>
		<div class=row>
			<div class="col-sm-3">
				<%= f.attachment_field :image, id: :product_img %>
				<!-- デフォルトで既存の画像を表示＆変更の場合は変更後の画像を表示 -->
				<% if @product.image.present? %>
					<%= image_tag @product.image_url, id: :img_prev %>
				<% else %>
					<%= attachment_image_tag @product, :image %>
				<% end %>
				<!-- 投稿画像を選択した時に、投稿画像を読み込み＆反映 -->
				<script type="text/javascript">
					$(function(){
						function readURL(input){
							if(input.files && input.files[0]){
								var reader = new FileReader();
								reader.onload = function(e){
									$('#img_prev').attr('src',e.target.result);
								}
								reader.readAsDataURL(input.files[0]);
							}
						}
						$("#product_img").change(function(){
							readURL(this);
						});
					});
				</script>
			</div>
			<div class="col-sm-6">
				<table class="table line" style="width:60%">
					<tr>
						<th class="line"><%= f.label "商品名" %></th>
						<td class="line"><%= f.text_field :name,style: "width:90%" %></td>
					</tr>
					<tr>
						<th class="line"><%= f.label "商品説明" %></th>
						<td class="line"><%= f.text_field :explain,style: "width:90%" %></td>
					</tr>
					<tr>
						<th class="line"><%= f.label "ジャンル" %></th>
						<td class="line"><%= f.collection_select :genre_id,Genre.where("status = 1"),:id,:name,{},style: "width:90%" %></td>
					</tr>
					<tr>
						<th class="line"><%= f.label "税込価格(税抜価格)" %></th>
						<td class="line"><%= f.text_field :non_taxed_price,style: "width:90%" %>円</td>
					</tr>
					<tr>
						<th class="line"><%= f.label "販売ステータス" %></th>
						<td class="line"><%= f.select :sale_status,[["販売中","true"],["売切れ","false"]],{},style: "width:90%" %></td>
					</tr>
					<tr>
						<th class="line">&nbsp;</th>
						<td class="line"><%= f.submit "変更を保存する", class: "btn btn-primary pull-right",style: "margin-right:20px" %></td>
					</tr>
				</table>
			</div>
		</div>
	<% end %>
</div>