<div class="container">
	<div class=row>
		<section>
			<h2>商品 編集画面</h2>
		</section>
	</div>
	<div class=row>
		<div class="col-sm-3">
			<%= form_for @product, url:admin_product_path do |f| %>
				<%= f.attachment_field :image %>
		</div>
		<div class="col-sm-6">
				<%= f.label "商品名" %>
					<%= f.text_field :name %><br />
				<%= f.label "商品説明" %>
					<%= f.text_field :explain %><br />
				<%= f.label "ジャンル" %>
					<%= f.collection_select :genre_id,Genre.all,:id,:name %><br />
				<%= f.label "税込価格(税抜価格)" %>
					<%= f.text_field :non_taxed_price %>円<br />
				<%= f.label "販売ステータス" %>
					<%= f.select :sale_status,[["販売中","true"],["売切れ","false"]] %><br />
				<%= f.submit "変更を保存する", class: "btn btn-default" %>
				<% end %>
		</div>
	</div>
</div>