<section>
	<h2>商品一覧画面</h2>
</section>
<table class="table table-striped">
	<thead>
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>税抜価格</th>
			<th>ジャンル</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @product.each do |product| %>
			<tr>
				<td><%= product.id %></td>
				<td><<%= product.name %>/td>
				<td><%= product.non_taxed_price %></td>
				<td><%= product.genre %></td>
				<td><%= product.sale_status %></td>
				<td>
					<%= attachment_image_tag product, :image, :fill,60,60, format: 'jpeg',class: "img-circle pull-left profile-image" %>
				</td>
			</tr>
		<% end %>
	</tbody>

</table>