<div class="container">
	<div class="row">
			<section>
				<h2>商品　新規登録画面</h2>
			</section>
	</div>
	<div class="row"_>
		<%= form_for [:admin, @product] do |f| %>
		<div class="col-sm-3">

<!--画像選択前にデフォルトがぞうを表示させる  -->
<!-- 投稿する画像のプレビューを表示させる -->

			<%= f.attachment_field :image, fallback:"no_image.jpg" %>
		</div>
		<div class="col-sm-9">
			<%=f.label "商品名" %>
				<%= f.text_field :name %><br />
			<%= f.label "商品説明" %>
				<%= f.text_area :explain %><br />
			<%= f.label "ジャンル" %>
				<%= f.collection_select :genre_id, Genre.where("status = 1"), :id, :name %><br />
			<%= f.label "税抜価格" %>
				<%= f.text_field :non_taxed_price %>円<br />
			<%= f.label "販売ステータス" %>
				<%= f.select :sale_status,[["販売中","true"],["売切れ","false"]] %><br />
			<%= f.submit "新規登録", class: "btn btn-default" %>
		<% end %>
		</div>
	</div>
</div>
