<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="">
	<title>注文情報確認</title>
</head>
<body>
	<div class="cover">
	<% @total = 0 %>
	<% @tax = 1.10 %>
	<% @pay = 800 %>
	<%= @error %>
	<div class="container center-block" style= "">
		<div>
			<h3 style="font-size: 18px;">注文情報確認</h3>
		</div>
	</div>

	<%#= form_for(@order, url: public_orders_path) do |f| %>
	<%= form_with model: Order.new, url: public_orders_path, method: :post, data: {remote: false} do |f| %>
		<div class="container center-block" style= "">
			<div class="row">
				<div class="col-xs-7">
					<table class= "table table-bordered">
						<thead>
							<tr>
								<th>商品名</th>
								<th>単価(税込)</th>
								<th>数量</th>
								<th>小計</th>
							</tr>
						</thead>
						<tbody>
							<% @cart_items.each do |cart_item| %>
									<tr>
										<td class="col-xs-6">
											<%= attachment_image_tag cart_item.product, :image, :fill, 50, 50, format: 'jpeg' %>
											<%= cart_item.product.name %>
										</td>
										<td class="col-xs-2">
											<%= number_to_currency((cart_item.product.non_taxed_price * @tax).floor, :unit => "", :precision =>0) %>
										</td>
										<td class="col-xs-2">
											<%= cart_item.quantity %>
										</td>
										<td class="col-xs-2">
											<%= number_to_currency(((cart_item.product.non_taxed_price * @tax) * cart_item.quantity).floor, :unit => "", :precision =>0) %>
											<% @total += ((cart_item.product.non_taxed_price * @tax) * cart_item.quantity).floor  %>
										</td>
									</tr>
							<% end %>
						</tbody>
					</table>
				</div>

				<div class="col-xs-3"></div>

				<div class="col-xs-3">
					<table class= "table table-bordered">
						<tbody>
							<tr>
								<td class=" col-xs-5">送料</td>
								<td class="col-xs-7"><%= @pay %></td>
								<%= f.hidden_field :pay, :value => @pay.floor %>
								<%= f.hidden_field :total_price, :value => @total.floor %>
							</tr>
							<tr>
								<td>商品合計</td>
								<td><%= number_to_currency(@total.floor, :unit => "", :precision =>0) %></td>
							</tr>
							<tr>
								<% @total += @pay %>
								<td>請求金額</td>
								<td><%= number_to_currency(@total.floor, :unit => "", :precision =>0) %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div>
				<h4 style="font-size: 18px; font-weight: bold; display: inline-block; margin-right: 30px;">支払方法</h4>
				<%= f.hidden_field :payment_method, :value => @payment_method %>
				<div style="font-size: 16px; display: inline-block;">
					<%= @payment_method %>
				</div>
			</div>

			<div class="container center-block" style= "">
				<div class="row">
					<div style="width: 100%;">
						<h4 style="font-size: 18px; font-weight: bold; display: inline-block; vertical-align: top; margin-right: 30px;">お届け先</h4>
						<% if @address_id == "1" %>
							<div style="font-size: 16px; display: inline-block;">
								<%= '〒' + @user.postal_code + " " + @user.street_address %>
								<br>
								<%= @user.first_name + "　" + @user.last_name  %>
							</div>

							<%= f.hidden_field :postal_code, :value => @user.postal_code %>
							<%= f.hidden_field :street_address, :value => @user.street_address %>
							<%= f.hidden_field :name_address, :value => @user.first_name + " " + @user.last_name %>
						<% elsif @address_id == "2" %>
							<div style="font-size: 16px; display: inline-block;">
								<%= '〒' + @shipping_addresses.find(@select_addr).postal_code + " " + @shipping_addresses.find(@select_addr).street_address %>
								<br>
								<%= @shipping_addresses.find(@select_addr).name_address %>
							</div>

							<%= f.hidden_field :postal_code, :value => @shipping_addresses.find(@select_addr).postal_code %>
							<%= f.hidden_field :street_address, :value =>  @shipping_addresses.find(@select_addr).street_address %>
							<%= f.hidden_field :name_address, :value => @shipping_addresses.find(@select_addr).name_address %>
						<% else %>
							<div style="font-size: 16px; display: inline-block;">
								<%= '〒' + @new_postal_code.insert(3, "-")  + " " + @new_street_address %>
								<br>
								<%= @new_name %>
							</div>

							<%= f.hidden_field :postal_code, :value => @new_postal_code.insert(3, "-")  %>
							<%= f.hidden_field :street_address, :value => @new_street_address %>
							<%= f.hidden_field :name_address, :value => @new_name %>
						<% end %>
					</div>
				</div>
			</div>

			<div>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :pay, :value => 800 %>
				<%= f.hidden_field :order_status, :value => "入金待ち" %>
				<%= f.hidden_field :address_id, :value => @address_id %>
			</div>
    
			<div class="container center-block" style= "width: 150px; margin-bottom: 80px">

				<div class="row">
					<%= f.submit '購入を確定する', class: "btn btn-primary", style: "width: 100%; height:100%;" %>
				</div>
			</div>
		</div>
	<% end %>
	<!-- 以下はセット -->
	<div style="margin-bottom: 50px;"></div>
	<footer></footer>
</body>
</html>