<container>
	<div class="row">
		<%= render "layouts/genre_bar", genres: @genres %>
		<div class="col-md-9">
			<h3>商品 <h5> (全<%= @products_count %>件) </h5></h3>
		</div>
		<% @products.each do |products| %>
		<div class="col-xs-3">
			<%= link_to public_product_path(products.id) do %>
				<%= attachment_image_tag products, :image, size: "200x200" %>
			<% end %>
			<p><%= link_to products.name, public_product_path(products.id) %></p>
			<p>¥<%= products.non_taxed_price %></p>
		</div>
	<% end %>
	</div>
</container>