<div class="cover">
<div class= "container-fluid">
	<div class ="row">
		<div class ="col-xs-3">
			<div class ="text-right">
				<h2>会員詳細画面</h2>
			</div>
		</div>
		<div class ="col-xs-9"></div>
	</div>
	<div class = "row">
		<div class ="col-xs-2"></div>
			<div class ="col-xs-4">
				<table class = "table line" >
					<tbody>
						<tr>
							<th class = "line">顧客ID</th>
							<td class = "line"><%= @user.id %>
								<% if @user.user_status == false %>
								<span class="label label-info">有効会員</span>
								<% else %>
								<span class="label label-info">退会会員</span>
								<% end %></td>
						</tr>
						<tr>
							<th class = "line">氏名</th>
							<td class = "line"><%= @user.first_name %><%= @user.last_name %></td>
						</tr>
						<tr>
							<th class = "line">フリガナ</th>
							<td class = "line"><%= @user.first_name_kata %><%= @user.last_name_kata %></td>
						</tr>
						<tr>
							<th class = "line">郵便番号</th>
							<td class = "line"><%= "〒" + @user.postal_code %></td>
						</tr>
						<tr>
							<th class = "line">住所</th>
							<td class = "line"><%= @user.street_address %></td>
						</tr>
						<tr>
							<th class = "line">電話番号</th>
							<td class = "line"><%= @user.phone_number %></td>
						</tr>
						<tr>
							<th class = "line">メールアドレス</th>
							<td class = "line"><%= @user.email %></td>
						</tr>
					</tbody>
				</table>
		    	<%= link_to edit_admin_user_path(@user.id) do %>
		    		<div type="button" class="btn btn-primary">編集する</div>
		    	<% end %>
		    	<%= link_to admin_orders_path(link: "user", user_id: @user.id) do %>
		    		<div type="button" class="btn btn-primary">注文履歴一覧を見る</div>
		    	<% end %>
			</div>
		<div class ="col-xs-4"></div>
	</div>
</div>
</div>
