<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="">
	<title>登録情報変更</title>
</head>
<body>
	<div class="cover">
		<%= form_for(@user, url: public_users_path) do |f| %>
			<%= render 'layouts/error_messages', model: f.object %>
			<div class="center-block container" style="width: 95%;  padding-top: 10px;">
				<div class="row" style="width: 30%">
					<header id="header" class="">
						<h3 class="mydata-item header-text col-xs-6" style="font-size: 18px">登録情報編集</h3>
						<%= link_to '退会する', public_users_confirm_path, class: "btn btn-default col-xs-4 btn-danger" %>
					</header><!-- /header -->
				</div>
			</div>

			<div class="mydata-info container" style="width: 95%">
				<div class="row">
					<table class="table table-bordered" style="width: 50%">
						<tbody>
							<tr>
								<td class="col-xs-3">氏名</td>
								<td><%= f.text_field :first_name, value: @user.first_name, class: "col-xs-3", style: "margin-right: 10px" %>
									<%= f.text_field :last_name, value: @user.last_name, class: "col-xs-3" %></td>
							</tr>

							<tr>
								<td class="col-xs-3">カナ</td>
								<td><%= f.text_field :first_name_kata, value: @user.first_name_kata, class: "col-xs-3", style: "margin-right: 10px" %>
									<%= f.text_field :last_name_kata, value: @user.last_name_kata, class: "col-xs-3" %></td>
							</tr>

							<tr>
								<td class="col-xs-3">郵便番号</td>
								<td><%= f.text_field :postal_code, value: @user.postal_code, class: "col-xs-3" %></td>
							</tr>

							<tr>
								<td class="col-xs-3">住所</td>
								<td><%= f.text_field :street_address, value: @user.street_address, class: "col-xs-9", style: "width: 100%" %></td>
							</tr>

							<tr>
								<td class="col-xs-3">電話番号</td>
								<td><%= f.text_field :phone_number, value: @user.phone_number, class: "col-xs-4" %></td>
							</tr>

							<tr>
								<td class="col-xs-3">メールアドレス</td>
								<td><%= f.email_field :email, value: @user.email, class: "col-xs-5" %></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="center-block" style="width: 95%">
					<div style="width: 50%">
						<%= f.submit '編集内容を保存する', class: "btn btn-default center-block btn-primary" , style: "width: 50%" %>
					</div>
				</div>

			</div>
		<% end %>
		<!-- 以下はセット -->
		<div style="margin-bottom: 50px;"></div>
		<footer></footer>
	</div>
</body>
</html>