<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <% if user_signed_in? %>
        <div class="navbar-header">
            <a class="navbar-brand">LOGO</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to public_cart_items_path do %>
              <span class="glyphicon "> カート</span>
              <% end %></li>
            <li><%= link_to public_users_path do %>
              <span class="glyphicon "> マイページ</span>
            <% end %></li>
            <li><%= link_to public_about_path do %>
              <span class="glyphicon "> アバウトページ</span>
            <% end %></li>
            <li><%= link_to new_user_session_path do %>
              <span class="glyphicon "> ログインページ</span>
            <% end %></li>
            <li><%= link_to destroy_user_session_path, method: :delete do %>
              <span class="glyphicon "> ログアウト</span>
            <% end %></li>
        </ul>
        <% elsif admin_signed_in? %>
        <div class="navbar-header">
            <a class="navbar-brand"><%= link_to admin_top_path do %>LOGO<% end %></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><span class="glyphicon ">ユーザー名</span>
            <li><%= link_to admin_genres_path do %>
              <span class="glyphicon "> ジャンル一覧</span>
              <% end %></li>
            <li><%= link_to admin_users_path do %>
              <span class="glyphicon "> 会員一覧</span>
            <% end %></li>
            <li><%= link_to admin_orders_path do %>
              <span class="glyphicon "> 注文履歴一覧</span>
            <% end %></li>
            <li><%= link_to admin_products_path do %>
              <span class="glyphicon "> 商品一覧</span>
            <% end %></li>
            <li><%= link_to destroy_admin_session_path, method: :delete do %>
              <span class="glyphicon "> ログアウト</span>
            <% end %></li>
            <li><span class="glyphicon "> 検索</span>
        </ul>
        <% else %>
        <div class="navbar-header">
            <a class="navbar-brand">LOGO</a>
        </div>
        <li><%= link_to new_user_session_path do %>
              <span class="glyphicon "> 顧客ログイン</span>
            <% end %></li>
        <li><%= link_to new_admin_session_path do %>
              <span class="glyphicon "> 管理者ログイン</span>
            <% end %></li>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
